@import "poole";
@import "syntax";
@import "lanyon";
@import "variables";
.next{
  text-align: center;
}
body{
  visibility: hidden;
}
html.wf-active body{
  visibility: visible;
}
html{
  font-family: "ff-meta-web-pro";
}
h1,h2,h3,h4,h5{
  font-family: "proxima-nova";
}

blockquote h3{
  margin-top: 0px;
}
nav .inset{
  padding-left: 2rem;
}
.sidebar-nav--heading{
  text-transform: uppercase;
}
nav .active{
background-color: rgba(255,255,255,0.1);
border-color: transparent;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: darken(#E3E3E3, 60%);
  border-color: transparent;
}
.footer{
  margin-bottom: 2rem;
}
.footer-hotline{
  font-size: .6rem;
  font-weight: bold;
  text-align: center;
}
.additional-resoruces{
  margin-bottom: 3rem;
}
.logo{
float: left;
height: 1.5rem;
margin-right: .5rem;
  @include responsive(small-screens){
    margin-right: 1.5rem;
  }
}
a:hover{
  text-decoration: none;
}
img{
  border: 0px;
}
.sidebar-toggle{
  background-color: #E6E6E7;
  opacity: 0.9;
  padding-top: 8px;
}
.masthead h3{
  text-align: left;
}
aside{
  border: 1px solid #278BD2;
  border-radius: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: lighten(#E6E6E7, 8%);
  p{
    display: block;
  }
  img{
    width: 200px;
    float: left;
    margin-right: 1em;
    margin-bottom: 0px;
  }
}
.page{
  margin-bottom: 2rem;
}
img{
  width: 100%;
}
@mixin width ($cols:1) {
  width: ($cols * ($column + $gutter) - $gutter);
}
@mixin full-width ($cols:1){
  width: ($cols * ($column + $gutter));
}
@mixin min-width ($cols:1) {
  width: ($cols * ($column + $gutter) - $gutter);
}
iframe{
  width: 100%;
  margin-bottom: 1rem;
  height: 143px;
  @include responsive(small-screens){
    height: 230px;
  }
  @include responsive(medium-screens){
    height: 335px;
  }
  @include responsive(wide-screens){
    height: 400px;
  }
  @include responsive(ultra-wide-screens){
    height: 470px;
  }
}
