<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.meta.tagline }}</p>
  </div>



  <nav class="sidebar-nav">
    <a href="/" class="sidebar-nav-item {% if current.url == '/' %} {{ 'active' }} {% endif %} ">A Message from Our CEO</a>
    {% for page in site.pages limit:3 offset:1 %}
    <a href="{{ page.url }}" class="sidebar-nav-item {% if current.url contains page.url %} {{ 'active' }} {% endif %}">{{ page.title }} </a>
    {% endfor %}
    <span href="" class="sidebar-nav-item sidebar-nav--heading">Integrity</span>
    {% for page in site.pages.integrity.pages %}
    <a href="{{ page.url }}" class="sidebar-nav-item inset {% if current.url contains page.url %} {{ 'active' }} {% endif %}">{{ page.title }}</a>
    {% endfor %}
    <span href="" class="sidebar-nav-item sidebar-nav--heading">Responsibility</span>
    {% for page in site.pages.responsibility.pages %}
    <a href="{{ page.url }}" class="sidebar-nav-item inset {% if current.url contains page.url %} {{ 'active' }} {% endif %}">{{ page.title }}</a>
    {% endfor %}
    <span href="" class="sidebar-nav-item sidebar-nav--heading">Excellence</span>
    {% for page in site.pages.excellence.pages %}
    <a href="{{ page.url }}" class="sidebar-nav-item inset {% if current.url contains page.url %} {{ 'active' }} {% endif %}">{{ page.title }}</a>
    {% endfor %}
    <span href="" class="sidebar-nav-item sidebar-nav--heading">Global Citizenship</span>
    {% for page in site.pages.global-citizenship.pages %}
    <a href="{{ page.url }}" class="sidebar-nav-item inset {% if current.url contains page.url %} {{ 'active' }} {% endif %}">{{ page.title }}</a>
    {% endfor %}
  </nav>

  <div class="sidebar-item">
  </div>
</div>
