<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.meta.tagline }}</p>
  </div>

  <nav class="sidebar-nav">
    {% for page in site.pages %}
    <a href="{{ page.url }}" class="sidebar-nav-item">{{ page.title }}</a>
    {% endfor %}
  </nav>

  <div class="sidebar-item">
  </div>
</div>
