<!DOCTYPE html>
<html lang="en-us">

{% include 'includes/head' %}

  <body>

 {% include 'includes/sidebar' %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.meta.title }}</a>
            <small>{{ site.meta.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
        <!-- Hackish  -->
        {% for asset in current.assets %}
          {% if asset.meta.resource %}
            {% assign resources = 'yes' %}
          {% endif %}
        {% endfor %}

        {% if resources %}
          <div class="additional-resoruces">
            <h3>Additional Resources</h3>
            <ul>
              {% for asset in current.assets %}
                <li><a href=" {{ asset.url }}"> {{ asset.meta.resource }} </a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
      <div class="footer container">
        <p class="footer-hotline">To make an anonymous report, contact: <a href="mailto:Ethics@DAI.com">Ethics@DAI.com</a> | +1-855-603-6987 (US) | +1-503-597-4328</p>
      </div>
    </div>
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
